.sign-up--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 75px;
  margin-bottom: 50px;
}

.account-section,
.sign-up-section,
.login-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-section,
.sign-up-section {
  background-color: #ecf0f3;
}

.login-section .auth-title{
  margin-top: 91px;
}

.login-section form {
  margin-bottom: 50px;
}

.input-error:focus-visible,
.input-error {
  outline: none;
  border: 2px solid #950101 !important;
  border-radius: 50px;
}

.valid-input:focus-visible,
.valid-input {
  outline: none;
  border: 2px solid #59ce8f !important;
  border-radius: 50PX;
}

.pass-label-block {
  display: flex;
}

.password-block {
  position: relative;
  border: 2px solid transparent;
  margin-bottom: 10px;
}

.password-eye {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%) translateX(-100%);
}

.password-block input:focus-visible,
.password-block input {
  border: 2px solid #950101;
  outline: none;
}

.password-block input:focus-visible,
.auth-form input {
  outline: none;
  padding: 5px;
  border: 0px solid transparent;
}

.auth-form input:focus {
  outline: none;
  box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px white !important;
  transition: all 0.3s ease-in-out;
}

.auth-form input label:focus {
  transform: translateY(30%);
}

.password-block input {
  padding: 5px;
}

.auth-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 350px;
  min-height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.auth-form label {
  margin-right: 10px;
  min-width: 100px;
}

.auth-form div:not(.error) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.auth-form input {
  width: 100%;
}

.pass-label-block,
.auth-form input:not([name="password"]) {
  margin-bottom: 20px;
}

.auth-form input:not([type="submit"]) {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 7px 7px 7px #c1c4c7, inset -7px -7px 7px white;
}

.auth-form input[type="submit"] {
  background: linear-gradient(
    141deg,
    rgba(255, 154, 0, 1) 0%,
    rgba(205, 0, 255, 1) 100%
  );
  color: white;
  margin-top: 20px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: all 0.5s, transform 0.2s, box-shadow 0.2s;
}

.auth-form input[type="submit"]:hover {
  background: linear-gradient(
    141deg,
    rgba(255, 153, 0, 0.96) 0%,
    rgba(205, 0, 255, 0.96) 100%
  );
  transform: scale(1.01); /* Increase size on hover */
  box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px white; /* Increase shadow on hover */
}

.auth-form input[type="submit"]:active {
  transform: scale(0.99);
  box-shadow: inset 1px 1px 1px #cbced1, inset -1px -1px 1px white;
}

.auth-title {
  font-size: 39px;
  margin-bottom: 35px;
}

.errors {
  width: 50%;
  color: #950101;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-29%);
  top: 103%;
}

.user-is-not-exists {
  font-size: 25px;
  margin: 10px 0 10px 0;
  color: #950101;
  display: flex;
}

.not_exists_icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.error {
  color: #950101;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
}

.error_text {
  margin-left: 10px;
}

.error_icon {
  color: #950101;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  .errors {
    width: 100%;
    /* padding: 20px; */
    left: 30%;
    /* top: 100%; */
  }
}

@media only screen and (max-width: 500px) {
  .auth-form div {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .auth-form label {
    margin-bottom: 10px;
  }
}
