.card-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    height: 90vh;
    min-height: 90vh;
    z-index: 999;
    box-shadow: 2px 11px 14px #414141, 2px 0px 20px #666666;
    min-width: 55%;
    width: 55%;
    border-radius: 15px;
    overflow-y: scroll;
}

.card-modal-block {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #ffffff82;
}

.close-card-modal-btn {
    position: fixed;
    top: 12vh;
    left: 75%;
    transform: translate(-100%, -100%);
    z-index: 999999;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: #000;
    box-shadow: 1px 2px 12px #eee, -1px -2px 12px #eee;
    background-color: #fff;
    border-radius: 20px;
    height: 40px;
    width: 50px;
    font-weight: 900;
    transition: all .2s;
}

.description-block {
    margin-top: 25px;
}

.description-text {
    padding: 10px;
    width: 90%;
    word-wrap: break-word;
}

.edit-btn,
.save-description-btn {
    background: linear-gradient( 141deg, rgba(255, 154, 0, 1) 0%, rgba(205, 0, 255, 1) 100% );
    color: #fff;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: all 0.2s;
    width: 50px;
    border: none;
}

.close-card-modal-btn:hover {
    box-shadow: 1px 2px 12px #eee, -1px -2px 12px #ddd;
    transition: all .2s;
}

.edit-btn:hover,
.save-description-btn:hover {
    background: linear-gradient( 141deg, rgba(255, 153, 0, 0.96) 0%, rgba(205, 0, 255, 0.96) 100% );
    transform: scale(1.01);
    box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px white;
    transition: all 0.2s;
}

.save-description-btn {
    margin-top: 25px;
    margin-right: 25px;
}

.edit-btn {
    margin-right: 10px;
}

.description {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-top: 15px;
    padding: 20px;
}

.scroll_effect::-webkit-scrollbar{
    width: 15px;
}

.scroll_effect::-webkit-scrollbar-track{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #fff;
}

.scroll_effect::-webkit-scrollbar-thumb{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: inset 0 0 1px rgb(0, 0, 0);
}

.scroll_effect::-webkit-scrollbar-thumb:hover{
    background: linear-gradient( 141deg, rgba(255, 154, 0, 1) 0%, rgba(205, 0, 255, 1) 100% );
}

.description-title{
    font-size: 35px;
    background: linear-gradient( 141deg, rgba(255, 154, 0, 1) 0%, rgba(205, 0, 255, 1) 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1024px) { 
    .card-modal {
        width: 90%;
    }

    .close-card-modal-btn {
        left: 92%;
    }
}

@media only screen and (max-width: 768px) { 
    .description {
        flex-direction: column-reverse;
    }

    .edit-btn {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 575px) { 
    .close-card-modal-btn {
        left: 89%;
    }
}

@media only screen and (max-width: 450px) { 
    .description-title{
        font-size: 21px;
    }
}