.boardItem {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 210px;
  height: 110px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
  transition: all .3s;
  gap: 15px;position: relative;
}

.boardItem__text-wrapper {
  background-color: rgba(0, 0, 0, 0);
  transition: all .4s;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.boardItem:hover{
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.boardItem:hover .boardItem__text-wrapper {
  background-color: rgba(0, 0, 0, 0.488);
}
.boardItem__editBtn{
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  z-index: 9999;
  opacity: 0;
  border: 1px solid red;
}
.boardItem:hover .boardItem__editBtn{
  opacity: 1;
}

.boardItem__menu{
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: red;
  z-index: 999;
  font-size: 14px;
}
.newBoardTitle{
  background-color: #59595994;
  border: none;
  max-width: 200px;
  color: white;
  font-size: 16px;
}