* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}

.loading_block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcfefa;
}

body.disabled {
  overflow-y: hidden;
}

.loading_block.hide {
  display: none;
}

.loading_block img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.container {
  /* max-width: 1570px; */
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  background: inherit;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ecf0f3;
}
